.isReady {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00cdbd;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.body {
  min-height: 100vh;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px 30px;
}
